taxi-dermistes-web/src/resource/css/* linguist-vendored
taxi-dermistes-web/src/resource/fonts/* linguist-vendored
taxi-dermistes-web/src/resource/less/* linguist-vendored
taxi-dermistes-web/src/resource/img/* linguist-vendored
taxi-dermistes-web/src/resource/scss/* linguist-vendored
taxi-dermistes-desktop/src/resource/css/* linguist-vendored
taxi-dermistes-desktop/src/resource/fonts/* linguist-vendored
taxi-dermistes-desktop/src/resource/less/* linguist-vendored
taxi-dermistes-desktop/src/resource/img/* linguist-vendored
taxi-dermistes-desktop/src/resource/scss/* linguist-vendored

